
$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";


$colors: (
  primary:    #6495ed,
  secondary:  rgb(0, 0, 0),
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

// Top Toolbar
$toolbar-md-background: color($colors, secondary);
$toolbar-background: color($colors, secondary);

// Bottom tabs
$tabs-background: color($colors, secondary);
$tabs-tab-color-active: color($colors, light);
$tabs-md-tab-color-inactive: color($colors,primary);
$tabs-ios-tab-color-inactive: color($colors,primary);
// $tabs-ios-background: color($colors, secondary);
// $tabs-ios-tab-color-active: color($colors, light);
$tabs-tab-color: color($colors, light);
$tabs-tab-text-color: color($colors, light);

$list-background-color: color($colors, secondary);
$list-text-color: color($colors, light);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
